.grid {
    width: 400px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    border-radius: 5px;
}

.grid div {
    width: 20px;
    height: 20px;
} 

.tetromino {
    background-color: red;
    border: 1px solid black;
    border-radius: 3px;
}
.red {
    background-color: red;
    border: 1px solid black;
    border-radius: 3px;
}
.green {
    background-color: green;
    border: 1px solid black;
    border-radius: 3px;
}

.blue {
    background-color: blue;
    border: 1px solid black;
    border-radius: 3px;
}
.brown {
    background-color: brown;
    border: 1px solid black;
    border-radius: 3px;
}
.yellow {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 3px;
}
.purple {
    background-color: purple;
    border: 1px solid black;
    border-radius: 3px;
}